footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid lightgray;
}
footer > .menu {
  height: 60px;
  padding: 10px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 64px;
  flex-grow: 1;
}
footer > .menu:hover {
  background-color: lightgray;
  cursor: pointer;
}
footer > .menu:active {
  background-color: rgb(180, 180, 180);
}
footer > .menu > .icon {
  font-size: 36px;
  transition: scale 0.3s ease-out;
}
footer > .menu:hover > .icon {
  scale: 120%;
}
footer > .menu > .text {
  font-size: 12px;
}
